@CHARSET "UTF-8";

*{
  padding: 0;
  margin: 0;
}

#loginWrap{
  height: 80vh;
}

.btnLogin{
  padding: 20px;
  height: 69px;
}
#adminLogin .labtxt{
  text-align: center;
  padding: 15px;
}

#adminLogin .logintxt{
  padding: 5px;
  margin: 5px;
}