@CHARSET "UTF-8";

footer{
	height: 15vh;
}

.ulBox{
  display: block;
}

.ulBox > li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4% 0 0;
}

.container a{
  color: #333;
}
.comInfowrap{
	text-align: center;
}