@CHARSET "UTF-8";

footer{
	height: 8.3em;
}

.ulBox{
  display: block;
}
.footwrap{
	margin: 0 auto;
	background: white;
	width: 90%;
}
.ulBox > li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4% 0 0;
}

.container a{
  color: #333;
}
.comInfowrap{
	text-align: center;
    border-top: 1px solid #b9bbbe;
    width: 80%;
}
ul.comInfo {
    padding-top: 4vh;
}