@CHARSET "UTF-8";

#headerWrap {
	height: 15vh;
}

.sidegnb {
	padding: 0 625px;
	background: #bebebe;
}

.sidegnb>ul {
	margin: 0;
	padding: 0;
	height: 20px;
	font-size: 0;
	position: absolute;
	top: 8px;
}

.sidegnb>ul>li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.sidegnb>ul>li>a {
	color: #333333;
	padding: 0px 15px;
	text-decoration: none;
	float: left;
	height: 20px;
	line-height: 3px;
	font-size: 5px;
}

.maingnb {
  text-align:center;
  width: 100%;
  background: #bebebe;
  padding: 0;
  height: 60px;
  top: 30px;
}

.maingnb ul {
  background: #bebebe;
  list-style:none;
  height: 60px;
  margin-top: 19px;
}

.maingnb ul li {
  display: inline-block;
  padding: 0 40px;
}

.maingnb ul li a {
  color:#333333;
  display:block;
  padding:0px 20px;
  text-decoration:none;
  float: center;
  height: 60px;
  line-height: 60px;
}

.maingnb ul li:hover {
  background: #333333;
}

.maingnb ul li:hover > a{
    color:#FFFFFF;
}

.maingnb ul li:hover > ul {
  display:block;
}

.maingnb ul ul {
  background: #BEBEBE;
  padding:0 219px;
  text-align: left;
  display: none;
  position: absolute;
  top: 60px;
  left: 58px;
  width: 52.4%;
}