<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korail.batch.dao.KTXInfoDAO">
	<insert id="trainPairingInsert" parameterType ="map">
		INSERT ALL 
		<foreach collection="trainInfoList" item="trainInfo">
			INTO KTXINFO_TB (TRAINNAME, DEPPLACENAME, DEPPLANDTIME, ARRPLACENAME, ARRPlANDTIME, TAKETIME)
			VALUES(KTXINFO_TB_SEQ_FUNC, #{trainInfo.depplaceName},#{trainInfo.depplandTime},#{trainInfo.arrplaceName},#{trainInfo.arrplandTime},#{trainInfo.takeTime})
		</foreach>
		SELECT * FROM DUAL
	</insert>
	<update id="resUpdate">
		<!-- 로그인시 탑승 시간이 지난 정보를 만료로 변경 -->
		UPDATE TICKETING_TB
		SET TICKETINGETC = '4'
		WHERE TO_DATE(DEPPLANDTIME,'yyyy-mm-dd hh24:mi') <![CDATA[<=]]> sysdate
	</update>
	<delete id="resCancle">
		<!-- 결제 시간이 10분 이상 지연시 예매 취소 -->
		DELETE 
		FROM TICKETING_TB
		WHERE TICKETINGETC = '2' 
      		AND TO_CHAR(TICKETINGDATE+1/144,'yyyy-mm-dd hh24:mi') <![CDATA[<]]> TO_CHAR(sysdate,'yyyy-mm-dd hh24:mi')
	</delete>
</mapper>

