@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: #333;

}
body{
	background-color: #efefef;
}
#wrap{
  margin: 0 auto;
  
}
.container {
	margin: 0 auto;
	width: 90%;
	background: tomato;
	height: 100%;
}
button.ui-button {
	background-color: #256cc6;
	color: white;
	border: 1px solid #256cc6;
}

.ui-datepicker{
	margin-top: 25px;
}