@CHARSET "UTF-8";
	ul.trainNo{
	  margin: 30px 0 0 0;
	  padding: 0;
	  text-align: center;
	}
	ul.trainNo li {
	  width: 50px;
	  display: inline-block;
	  margin: 2px;
	}
	ul.trainNo li a{
	  font-size: 1em;
	  display: block;
	  text-align: center;
	  background-color: #dddddd;
	}
	table.strain{
	  width: 80%;
	  text-align: center;
	  border-spacing : 20px;
	}
	table.strain tr td{
	  height: 30px;
	  width: 6.66em;
	}
	table.strain tr td a{
	}
	p.seat{
		position: absolute;
	    margin-top: 15px;
	   	font-size: 0.7em;
    	font-weight: bold;
	}
