<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.korail.client.reservation.dao.KTXInfoDAO">
	<select id="getTrainInfo" resultType="ktxInfoVO" parameterType="ktxInfoVO">
		<!-- 열차조회 -->
		SELECT * 
		FROM KTXINFO_TB
		WHERE DEPPLACENAME = #{depPlaceName} AND ARRPLACENAME = #{arrPlaceName}
				AND TO_DATE(SUBSTR(DEPPLANDTIME,1,10),'yyyymmddHH24') >= TO_DATE(#{depPlandTime},'YYYYMMDDHH24')
		ORDER BY  TO_DATE(SUBSTR(DEPPLANDTIME,1,10),'yyyymmddHH24') ASC
	</select>
	<select id="getTrainRate" resultType="ktxRateInfoVO">
		<!-- 요금정보 -->
		SELECT * FROM KTXRATEINFO_TB		
	</select>
</mapper>
