<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korail.client.notice.dao.NoticeDAO">

	<select id="getNoticeList"  resultType="com.korail.client.notice.vo.NoticeVO">
		<![CDATA[
			SELECT *
			FROM
				(SELECT ROWNUM AS RN, NOTICETITLE, NOTICEREGDATE
				FROM NOTICE_TB ORDER BY NOTICEREGDATE)
			WHERE RN <= 5 
		]]>
	</select>

</mapper>
