@CHARSET "UTF-8";
	h2{
		display: none;
	}
	section>h2 {
		display: block;
	    color: #424242;
	    word-spacing: 0.2em;
	    display: block;
	    font-size: 2.0em;
	    padding: 1% 1% 1% 10%;
	}
	div.idWrap {
	    height: 39em;
	}
	img.logoimg{
		width: 15em;
	    margin-right: 5em;
	}
	table.tblid {
		border: 1px solid #000;
	    width: 80%;
	    margin: 11em auto 0;
	    border-collapse: collapse;
	}
	table.tblid tr{
		height: 3em;
	}
	table.tblid tr .c1{
		width: 16em;
		text-align: right;
	}
	table.tblid tr .c2{
		width: 20em;
	}
	
