	@CHARSET "UTF-8";
	
	* {
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
		border-spacing: 0px;
		vertical-align: middle;
	}
	
	body {
		background-color: #efefef;
	}
	
	#wrap {
		margin: 0 auto;
	}
	
	.container {
		margin: 0 auto;
		width: 90%;
		height: 100%;
	}
	
	button.ui-button {
		background-color: #256cc6;
		color: white;
		border: 1px solid #256cc6;
	}
	
	.logo {
		vertical-align: middle;
	}
	
	input.basictxt {
		width: 190px;
		height: 30px;
	}
	select.cmb, input.txtroot {
			width: 190px;
			height: 30px;
	}