#contents h2 {
	width: auto; 
	height: auto; 
	margin: 0 0; 
	padding:10px 0 0 30px; 
	background: url('/admin/resources/front/img/h2_bg1.gif') no-repeat 0 15px; 
	color: #0165b3;  
	font: bold 1em/1.19 "나눔고딕"; 
	font-size: 14px; text-align: left; 
	letter-spacing: -1px; 
	line-height: 2.25; 
}
.wrap{
	width: 90%;
	margin: 0 auto;
	height: 75em;
}