@CHARSET "UTF-8";

.sidegnb {
	text-align: center;
	background: #bebebe;
	margin-top: 0.25%;
	height: 20px;
	position: relative;
	float: right;
}

.sidegnb>ul {
	margin: 0;
	padding: 0;
	height: 30px;
	font-size: 0;
}

.sidegnb>ul>li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.sidegnb>ul>li>a {
	color: #333333;
	padding: 0px 20px;
	text-decoration: none;
	float: left;
	height: 20px;
	line-height: 20px;
	font-size: 5px;
}