	@CHARSET "UTF-8";
	*{
		color: #424242;
	}
	h2{
		display: none;
	}
	.agrwrap{
	    height: 48em;
	}
	.toptitle{
		word-spacing: 0.8em;
	    display: block;
	    padding: 1% 1% 1% 10%;
	}
	.toptitle h2{
		font-size: 2.0em;
		display: block;
	}
	.toptitle p{
		font-size: 1.0em;
	}
	.agreement1>.agment {
		margin: 0 auto;
	}
	
	textarea#ta {
		margin: 0 auto;
		overflow-y: scroll;
		height: 15em;
		width: 100%;
		padding: 10px;
		border: 1px solid #e5e5e5;
		text-align: left;
		resize: none;
	}
	.agcontent {
	    width: 80%;
	    margin: 0 auto;
	}
	.agcontent>h4 {
		margin: 1% 0;
	}
	
	.consent {
		text-align: right;
	}
	
	.agreement1>.agment>.goEnterinfo>.allConsent {
		text-align: center;
	}
	
	.agbottom {
		text-align: center;
	}
	
	button.ui-button {
		width: 150px;
		height: 40px;
	}