@CHARSET "UTF-8";
h2{
	display: none;
}
html body {
   height: 80%;
   
}
p {
    line-height: 350%;
}


#mailcontainer {
   margin: 0 auto;
   width: 90%;
   height: 100%;
}

.location>h2 {
	display: block;
	color: #424242;
	word-spacing: 0.8em;
	font-size: 2.0em;
	padding: 1% 1% 1% 10%;
}

.content {
   margin-top: 2%;
}

.content>h3 {
   color: red;
   font-size: 1.2em;
   padding-left: 2%;
}

.content>div>ul {
   margin-top: 1.2%;
   padding-left: 2%;
}

.content>#mail {
   margin: auto;
   margin-top: 6.5%;
   text-align: center;
   border: 1px solid;
   width: 65%;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}

.content>#mail>ul>li {
   line-height: 500%;
}

.content>#mail>ul>li>a {
   background: #3333cc;
   border-radius: 5px;
   padding-left: 6%;
   padding-right: 6%;
   padding-top: 1.4%;
   padding-bottom: 1.4%;
   font-size: 2em;
}

button.ui-button {
	width: 250px;
	height: 50px;
}

.footer {
   height: 15vh;
}
#maildialog {
	display: none;
}