@CHARSET "UTF-8";

.pop_container{
	
}

.pop_mail{
	margin: 0 auto;
}
.pop_haeder{
	height: 80px;
	background: aqua;
}

.pop_header>h2 {
	font-weight: bold;
	font-size: 2.3em;
	padding-top: 2%;
	padding-left: 2%;
}

.pop_mailcontent{
	text-align: center;
	margin-top: 5%;
	height: 80px;
	background: aqua;
}

.pop_validation{
	margin-top: 5%;
	text-align: center;
	height: 80px;
	background: aqua;
	
}
.pop{
	display: inline;
}

.pop_footer{
	margin-top: 5%;
	text-align: center;
}
.revalidationBtn{
	float: left;
}

button.ui-validation {
	width: 180px;
	height: 30px;
}