	@CHARSET "UTF-8";
	form#mailForm {
	    margin-top: 15%;
	}
	table.mailtbl {
    	margin: 0 auto;
	}
	table.mailtbl tr td{
		padding: 1vh;
	} 
	.pop_footer{
		margin-top: 5%;
		text-align: center;
	}
	.revalidationBtn{
		float: left;
	}
	
	button.ui-validation {
		width: 150px;
		height: 40px;
		padding: 0;
		margin: 0;
		vertical-align: middle;
	}
	
	p.pmail{
	    margin-top: 5px;
	}
	input.basictxt{
		
		margin-left: 5px;	
	}